DATA TYPES AND STRUCTURES....

1. What are data structures, and why are they important?
 - A Way of organizing and storing data so that it can be accessed and manipulated effeciently is called data structuring.
 It is important because they provide efficient ways to store,organize, and manage data, leading to faster performance and better memory utilization.

2. Explain the difference between mutable and immutable data types with examples?
 - Mutable Data type- A mutable data type is one whose values can be changed.
    example- List,Dictionaries, and Set
 - Immutable Data type - An immutable data type is one in which the values can't be changed or altered.
    example- String and Tuples

In [ ]:
#create a list of student
name = ['ram','shyam','hari','gita','sita']
#adding element in the existing list
name.append('rahul')
print(name)

['ram', 'shyam', 'hari', 'gita', 'sita', 'rahul']

In [ ]:
#create a dictionary:Employee
employee = {'name':'Arun','age':30,'department':'content management'}
#change the department name from content management to Editorial
employee['department'] = 'Editorial'
print(employee)

{'name': 'Arun', 'age': 30, 'department': 'Editorial'}

In [ ]:
my_string = "Hello,World!"
type(my_string)
my_string[0] = 'h'

TypeError: 'str' object does not support item assignment

3. What are the main differences between lists and tuples in Python?
 - The main difference between lists and tuple in python is their mutability,performance characteristics,and typical use cases.

  a. MUTABILITY:

  - LISTS are mutable: Their elements can be modified (added,removed, or changed) after the list has been created.
  - TUPLES are immutable: Once a tuple is created,its elements cannot be altered.Attempts to modify a tuple will result in a TypeError.

  b.PERFORMANCE:

  - LISTS require more flexible memory management due to their mutability,which can lead to slower operations and potentially higher memory usage.
  - Tuples are generally faster and more memory-efficient than lists because their fixed size allows for more optimozed memory allocation.

  c.USAGES AND USE CASES:

   - LISTS are sutable for dynamic collections where elements need to be added,removed, or changed frequently.They are often used for homogeneous collections.(eg..a list of numbers).
   - Tuples are used for fixed collections of related items,especially when the data should not be changed.They are often used for heterogeneous collections(e.g..a record like name,age,city).

   d.SYNTAX:
   
   - LISTS are defined using square brackets[].
   - TUPLEs are defined using parentheses().

4. Describe how dictionaries store data?
 - Pthon dictionaries store data as key-value pairs within a hash table structure.

5. Why might you use a set instead of a list in Python?
 - we use a set instead of list in python because set are unordered collection of unique element whereas lists is an ordered collection of elements that can be of any data types.

6. What is a string in Python, and how is it different from a list?
 - In Python, lists store hetrogenous ordered collection of elements that can be of any data type but string is a sequence of character in which characters are represented using numerical values and each character is assigned a unique value.

7. How do tuples ensure data integrity in Python?
 - Tuples ensure data integrity in Python primarily through their immutability. The charactreistic means that once a tuple is created its elements cannot be changed, added, or removed.

8. What is a hash table, and how does it relate to dictionaries in Python?
 - A hash table is a data structure that implements an associative array,also known as dictionary. It stores data in key-value pairs and uses a hash function to efficiently map keys to their corresponding values.

9. Can lists contain different data types in Python?
 - Yes, Python lists can contain elements of different data tyes. This is a key feature that makes Python lists vary flexible and versatile.

 Example-
  - Integers: 1,2,3
  - Strings: "hellow","arun"
  - Floats: 2.2,0.5
  - Booleans: True, False

10. Explain why strings are immutable in Python?
 - Python strings are immutable, meaning their content cannot be changed after they are created. This design choice offers several advantages:
   - Memory Efficiency and Performance.
   - Security and Data Integrity.
   - Hashability.
   - Simplicity and Predictability.

11. What advantages do dictionaries offer over lists for certain tasks?
 - Dictionaries in Python offer significant advantages over lists for specific tasks, primarily centered arourd data retrieval and organization.
     
     1.Fast Data Retrieval
     2.key-Value Association and Data Organization
     3.Efficent for Large Datasets with Frequents lookups
     4.Mapping Relationshis

12. Describe a scenario where using a tuple would be preferable over a list?
 - A scenario where a tuple would be preferable over a list in Python is when representing immutable, fixed collection of related data, especially when these collections are intended to be used as dictionary keys or passed as funtion arguments where their values should not change.
  consider a sitution where you need to store geographic coordinates(latitute,longitute).
 Each coordinate pair is a fixed entity that should not be individually modified after creation.If you were to use a list for this:

In [ ]:
coordinates = [(40.7128,-74.0060),(34.0522,-118.2437),(51.5074,-0.1278)]
#while function it allow for accidental modification:
coordinates[0] = (41.8781,-87.6298)
print(coordinates)

[(41.8781, -87.6298), (34.0522, -118.2437), (51.5074, -0.1278)]

In [ ]:
# using a tuple ensures immutability:
coordinates_tuple = ((40.7128,-74.0060),(34.0522,-118.2437),(51.5074,-0.1278))
#attempting to modify an element would results in an error:
coordinates_tuple[0] = (41.8781,-87.6298)

TypeError: 'tuple' object does not support item assignment

13.How do sets handle duplicate values in Python?
 - Python sets fundamentally do not allow duplicate values. They are designed to store only unique, hashable elements. When you attempt to add an element that is already present in a set, the set simply ignores the addition, and the existing element remains, unchanged.
  - Initialization with duplicates: If you create a set from an iterable containing duplicate values, the duplicates will be automatically removed during the set's creation.

In [ ]:
my_lists = [1,2,2,3,4,4,5]
my_set = set(my_lists)
print(my_set)

{1, 2, 3, 4, 5}

In [ ]:
##Adding duplicates with add(): When using the add() method to insert an element, if that element already exists in the set, no change occurs.

my_set = {1, 2, 3}
    my_set.add(2)  # 2 is already in the set
    print(my_set)

IndentationError: unexpected indent (ipython-input-1776139210.py, line 4)

14. How does the “in” keyword work differently for lists and dictionaries?
 - The "in" keyword in Python functions differently for lists and dictionaries in terms of what it checks for:

 FOR LISTS:

 When used with a list, the "in" keyword checks for the presence of a specific element within the list. It iterates through the list, comparing the target element with each item in the list until a match is found or the end of the list is reached.

In [ ]:
my_list = [1, 2, 3, 4, 5]
print(3 in my_list)  # Output: True
print(6 in my_list)  # Output: False

True
False

For Dictionaries:

When used with a dictionary, the "in" keyword checks for the presence of a specific key within the dictionary. It does not check for the presence of values directly. If you want to check for values, you need to use the .values() method of the dictionary.

In [ ]:
    my_dict = {'apple': 1, 'banana': 2, 'orange': 3}
    print('apple' in my_dict)  # Output: True (checks for key 'apple')
    print('grape' in my_dict)  # Output: False (checks for key 'grape')
    print(1 in my_dict)  # Output: False (1 is a value, not a key)
    print(1 in my_dict.values()) # Output: True (checks for value 1)

True
False
False
True

In summary:

Lists: element in list checks if an element exists in the list.
Dictionaries: key in dictionary checks if a key exists in the dictionary. To check for values, use value in dictionary.values()

15. Can you modify the elements of a tuple? Explain why or why not?
 - No, we can not modify the elements of a tuple.
  Explanation:
Tuples are immutable data structures in Python. This means that once a tuple is created, its contents cannot be changed, added to, or removed from. Any attempt to modify an element directly, such as by using an assignment operator on a specific index, will result in a TypeError.

Why are tuples immutable?

Data Integrity: Immutability helps ensure the integrity of data. If a tuple is passed around in different parts of a program, you can be certain that its values will remain consistent and won't be accidentally altered.

Performance: Immutable objects can sometimes be optimized by Python's interpreter, leading to better performance in certain scenarios.

Use as Dictionary Keys: Because tuples are immutable, they can be used as keys in dictionaries, unlike mutable lists. This is a crucial feature for certain data structures and algorithms.

Workaround (Creating a New Tuple):

While you cannot modify a tuple in place, you can achieve a similar effect by creating a new tuple that incorporates the desired changes. This usually involves:
Converting the original tuple to a mutable data type, such as a list.
Making the necessary modifications to the list.
Converting the modified list back into a new tuple.
Example:

In [ ]:
my_tuple = ("apple", "banana", "cherry")

# Attempting to modify directly will raise a TypeError
# my_tuple[1] = "kiwi"

# Workaround:
my_list = list(my_tuple)
my_list[1] = "kiwi"
new_tuple = tuple(my_list)

print(f"Original tuple: {my_tuple}")
print(f"New tuple: {new_tuple}")

Original tuple: ('apple', 'banana', 'cherry')
New tuple: ('apple', 'kiwi', 'cherry')

16. What is a nested dictionary, and give an example of its use case?
 - A nested dictionary is a dictionary where the values associated with some or all of its keys are themselves other dictionaries. This structure allows for the creation of hierarchical data, representing complex relationships between different pieces of information.

 Example Use Case: Representing a University Database

A nested dictionary can effectively store information about a university, including departments, courses within those departments, and students enrolled in each course.

In [ ]:
university_database = {
    "Computer Science": {
        "CS101": {
            "title": "Introduction to Programming",
            "instructor": "Dr. Smith",
            "students": ["Alice", "Bob", "Charlie"]
        },
        "CS202": {
            "title": "Data Structures",
            "instructor": "Dr. Jones",
            "students": ["Alice", "David"]
        }
    },
    "Mathematics": {
        "MA101": {
            "title": "Calculus I",
            "instructor": "Prof. Lee",
            "students": ["Bob", "Eve"]
        }
    }
}

In this example:

The outermost dictionary university_database has department names as keys (e.g., "Computer Science", "Mathematics").
The values associated with these department keys are themselves dictionaries, representing the courses offered within that department.
Each course dictionary (e.g., "CS101", "MA101") contains details about the course, such as its title, instructor, and a list of enrolled students.
This nested structure allows for organized storage and easy retrieval of information, such as finding all students in "CS101" (university_database["Computer Science"]["CS101"]["students"]) or the instructor of "MA101" (university_database["Mathematics"]["MA101"]["instructor"]).

17. Describe the time complexity of accessing elements in a dictionary?
 - Accessing elements in a dictionary, or hash map, generally has an average time complexity of O(1), which stands for constant time. This means that, on average, the time it takes to retrieve a value using its key does not significantly increase with the size of the dictionary.

This efficiency is attributed to the internal implementation of dictionaries, which typically use hash tables. When a key-value pair is added, a hash function converts the key into a hash value, which then determines the "bucket" or memory location where the value is stored. When retrieving a value, the same hash function is applied to the key, allowing for direct access to the corresponding bucket and the associated value.

However, in the worst-case scenario, the time complexity can degrade to O(n), where 'n' is the number of elements in the dictionary. This occurs when there are many hash collisions, meaning different keys produce the same hash value, leading to multiple key-value pairs being stored in the same bucket. In such cases, the system might need to linearly search through the elements within that bucket to find the correct key, resulting in a time complexity proportional to the number of elements in the worst-case bucket. While possible, this worst-case scenario is rare in well-implemented hash tables, which employ strategies to minimize collisions.

18. In what situations are lists preferred over dictionaries?
 - Lists are preferred over dictionaries in situations where:

- Order of elements is crucial: Lists maintain the insertion order of elements, making them suitable when the sequence of items is significant, such as a shopping list, a sequence of steps in an algorithm, or a timeline of events.

- Elements are accessed by numerical index: When elements are naturally addressed by their position (e.g., the first item, the second item), lists provide efficient O(1) access time using integer indices.

- Sequential processing or iteration over all elements: Lists are well-suited for operations that involve iterating through all elements in a specific order, like applying a function to each item or searching for a value within the sequence.

- Storing a collection of items without unique identifiers: If the items in the collection do not have a natural key or unique identifier for direct lookup, a list is the appropriate choice.\

- Operations like appending and extending are frequent: Lists offer efficient methods for adding elements to the end (append()) or merging with another list (extend()).

- Memory usage is a concern for simple collections: For simple, ordered collections where key-value overhead is unnecessary, lists generally consume less memory than dictionaries

19. Why are dictionaries considered unordered, and how does that affect data retrieval?
 - Dictionaries are considered unordered due to following:

   - Key-Value Mapping over Sequence: Dictionaries are optimized for quick storage and recovery of data using keys, not for maintaining a predictable order of elements.
   - No Positional Indexing: Unlike ordered collections like lists, you cannot access dictionary elements by their position (e.g., my_dict) because they lack a defined, sequential position.
   - Historical Context (Python): In older versions of Python, dictionaries did not preserve the order in which items were added. While Python 3.7+ does retain insertion order, this was an implementation detail, not their core design philosophy. The emphasis remains on key-value lookup.
How it affects data retrieval:
   - Access by Key: Data is always retrieved using its unique key, not its position. For example, to get a value, you must know the corresponding key, such as my_dictionary['apple'].
   - No Order Guarantees (Conceptually): Even though modern Python dictionaries maintain insertion order, you should not depend on this for the overall function of the data structure. When iterating through a dictionary, the order of elements may not be predictable or match the insertion order in contexts where insertion order isn't relevant.
   - Fast Lookups: The primary benefit of this design is speed. Hashing (using a function to convert the key into an index) allows for very fast retrieval of values associated with a given key.

20. Explain the difference between a list and a dictionary in terms of data retrieval.?
 - The fundamental difference between lists and dictionaries in terms of data retrieval lies in their underlying structure and how elements are identified.

 Lists:

Ordered Collection: Lists store elements in a specific, sequential order.
Index-Based Retrieval: Data retrieval in lists relies on numerical indices, starting from 0 for the first element. To access an element, its position within the list must be known.

In [ ]:
    my_list = ["apple", "banana", "cherry"]
    # Retrieve "banana" using its index
    fruit = my_list[1]

Dictionaries:

Unordered Collection of Key-Value Pairs: Dictionaries store data as pairs, where each value is associated with a unique key. The order of elements is not guaranteed.
Key-Based Retrieval: Data retrieval in dictionaries uses these unique keys. To access a value, its corresponding key must be known.

In [ ]:
    my_dict = {"fruit1": "apple", "fruit2": "banana", "fruit3": "cherry"}
    # Retrieve "banana" using its key
    fruit = my_dict["fruit2"]

Key Differences in Retrieval:

Mechanism: Lists use numerical indexing; dictionaries use arbitrary, user-defined keys.

Efficiency (Average Case): Dictionaries typically offer faster retrieval (average O(1) time complexity) because keys are hashed for direct access. List retrieval can be fast for known indices, but searching for a specific value without knowing its index requires iterating through the list (O(n) time complexity).

Flexibility: Dictionary keys can be of various immutable data types (strings, numbers, tuples), providing more descriptive and meaningful ways to access data compared to sequential numerical indices in lists.

PRACTICAL QUESTIONS:

In [ ]:
#1.Write a code to create a string with your name and print it.
Name = "ARUN"
print(Name)

ARUN

In [ ]:
#2. Write a code to find the length of the string "Hello World".
string = "Hello World"
print(len(string))

11

In [ ]:
#3. Write a code to slice the first 3 characters from the string "Python Programming".
string = "Python Programming"
print(string[0:3])

Pyt

In [ ]:
#4. Write a code to convert the string "hello" to uppercase.
string = "hello"
print(string.upper())

HELLO

In [ ]:
#5. Write a code to replace the word "apple" with "orange" in the string "I like apple".
string = "I like apple"
print(string.replace("apple","orange"))

I like orange

In [ ]:
#6.Write a code to create a list with numbers 1 to 5 and print it.
list = [1,2,3,4,5]
print(list)

[1, 2, 3, 4, 5]

In [ ]:
#7. Write a code to append the number 10 to the list [1, 2, 3, 4].
list = [1,2,3,4]
list.append(10)
print(list)

[1, 2, 3, 4, 10]

In [ ]:
#8.  Write a code to remove the number 3 from the list [1, 2, 3, 4, 5].
list = [1,2,3,4,5]
list.remove(3)
print(list)

[1, 2, 4, 5]

In [ ]:
#9. Write a code to access the second element in the list ['a', 'b', 'c', 'd'].
list = ['a','b','c','d']
print(list[1])

b

In [ ]:
#10. Write a code to reverse the list [10, 20, 30, 40, 50].
list = [10,20,30,40,50]
print(list[::-1])

[50, 40, 30, 20, 10]

In [ ]:
#11.  Write a code to create a tuple with the elements 100, 200, 300 and print it.
tuple = (100,200,300)
print(tuple)

(100, 200, 300)

In [ ]:
#12. Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').
tuple = ('red','green','blue','yellow')
print(tuple[-2])

blue

In [ ]:
#13.Write a code to find the minimum number in the tuple (10, 20, 5, 15).
tuple = (10,20,5,15)
print(min(tuple))

5

In [ ]:
#14.  Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').
tuple = ('dog','cat','rabbit')
print(tuple.index('cat'))

1

In [ ]:
#15.  Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.
tuple = ('apple','banana','kiwi')
print('kiwi' in tuple)

True

In [ ]:
#16.  Write a code to create a set with the elements 'a', 'b', 'c' and print it.
my_set = {'a', 'b', 'c'}
print(my_set)

{'b', 'a', 'c'}

In [ ]:
#17. Write a code to clear all elements from the set {1, 2, 3, 4, 5}.
my_set = {1,2,3,4,5}
my_set.clear()
print(my_set)

set()

In [ ]:
#18. Write a code to remove the element 4 from the set {1, 2, 3, 4}.
my_set = {1,2,3,4}
my_set.remove(4)
print(my_set)

{1, 2, 3}

In [1]:
#19. Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.
my_set1 = {1,2,3}
my_set2 = {3,4,5}
print(my_set1.union(my_set2))

{1, 2, 3, 4, 5}

In [2]:
#20. Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.
my_set1 = {1,2,3}
my_set2 = {2,3,4}
print(my_set1.intersection(my_set2))

{2, 3}

In [3]:
#21. Write a code to create a dictionary with the keys "name", "age", and "city", and print it.
my_dict = {'name':'Arun','age':21,'city':'Bokaro steel city'}
print(my_dict)

{'name': 'Arun', 'age': 21, 'city': 'Bokaro steel city'}

In [4]:
#22. Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.
my_dict = {'name':'John','age':25}
my_dict['country'] = 'USA'
print(my_dict)

{'name': 'John', 'age': 25, 'country': 'USA'}

In [5]:
#23.  Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.
my_dict = {'name':'Alice','age':30}
print(my_dict['name'])

Alice

In [6]:
#24. Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.
my_dict = {'name':'Bob','age':22,'city':'New York'}
my_dict.pop('age')
print(my_dict)

{'name': 'Bob', 'city': 'New York'}

In [7]:
#25. Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.
my_dict = {'name':'Alice','city':'Paris'}
print('city' in my_dict)

True

In [8]:
#26.  Write a code to create a list, a tuple, and a dictionary, and print them all.
my_list = [1,2,3,4]
my_tuple = (1,2,3,4)
my_dict = {'name':'Arun','age':21}

In [12]:
#27.  Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the
# result.
import random
my_list = [random.randint(1,100) for _ in range(5)]
my_list.sort()
print(my_list)

[9, 16, 46, 49, 54]

In [9]:
#28.  Write a code to create a list with strings and print the element at the third index.
my_list = ['apple','banana','kiwi','orange']
print(my_list[2])

kiwi

In [13]:
#29. Write a code to combine two dictionaries into one and print the result.
my_dict1 = {'name':'Arun','age':21}
my_dict2 = {'city':'Bokaro steel city','country':'India'}
my_dict1.update(my_dict2)
print(my_dict1)

{'name': 'Arun', 'age': 21, 'city': 'Bokaro steel city', 'country': 'India'}

In [15]:
#30.Write a code to convert a list of strings into a set.
# Define a list of strings
my_list_of_strings = ["apple", "banana", "orange", "apple", "grape", "banana"]

# Convert the list of strings to a set
my_set_of_strings = set(my_list_of_strings)

# Print the original list and the resulting set
print(f"Original list: {my_list_of_strings}")
print(f"Converted set: {my_set_of_strings}")

Original list: ['apple', 'banana', 'orange', 'apple', 'grape', 'banana']
Converted set: {'banana', 'orange', 'apple', 'grape'}